<div class="az-login-c">
    <!-- left-side -->
    <div class="az-split-screen az-left-side">

    </div>

    <!-- Right-side -->
    <div class="az-split-screen az-right-side">
        <div class="th-logo">
            <span class="sr-only">THERA LOGO</span>
        </div>
        <div class="az-login-wrapper az-cards card-3">
            <!-- login form> -->
            <form>
                <fieldset>
                    <legend>Thera Log in</legend>
                    <button *ngIf="showAzureConnection" (click)="onAzureLogin($event)" class="az-button az-azure-button">
                        <i class="az-icon az-azure-icon"></i> <span>Connect with Azure</span>
                    </button>
                    <az-loading  *ngIf="!showAzureConnection && !isLogged"></az-loading>
                    <input id="name" name="name" placeholder="Username" type="text" />
                    <input id="password" name="password" placeholder="password" type="password" />
                    <button type="submit" class="az-login-button">Login</button>
                    <a>Recover password</a>
                </fieldset>
            </form>
            <!--/ Login form -->
        </div>

        <az-login-logs [logs]="loginLogs"></az-login-logs>
    </div>
</div>

